/* header middle main footer */
.button {
	position:absolute;
	right:-2px;
	bottom:-3px;
	padding:0 18px 0 22px !important;
	width: 38px;
	height: 19px;
	background:url(images/sprite.png) no-repeat -38px -215px;
	line-height: 20px;
	font-size:11px !important;
	color:#fff !important;
	text-decoration:none;
	cursor:pointer;
	z-index: 1;
}
/**********************************************************header**********************************************************/

#header {
	margin-bottom: 4px;
}

/*************************************logo*************************************/

.logo {
	margin: 31px 0 0 41px;
	float: left;
	width: 365px;
	height: 67px;
}
/*.logo img{/*IE7* /
	border:none;
}*/
/************************************ /logo************************************/


/************************************search************************************/

.search {
	margin:14px 0 6px;
	width: 229px;/*ie*/
	float: right;
}
.search-tri{
	display: block;
	margin-bottom: 5px;
	float: right;
	width: 48px;
	height: 81px;
	background:url(images/sprite.png) no-repeat 0 -246px;
}
#search-text {
	padding-left: 51px;
	float: left;
	width: 199px;
	height: 26px;
	border: 0;
	background: url(images/sprite.png) no-repeat -38px -132px;
}
::-webkit-input-placeholder {
	color: #fff;
}
:-moz-placeholder  {
	color: #fff;
	opacity: 1
}
::-moz-placeholder  {
	color: #fff;
	opacity: 1
}
:-ms-input-placeholder {
	color: #fff;
}
#search-button {
	margin-left: 4px;
	float: left;
	width: 26px;
	height: 26px;
	border: 0;
	background: url(images/sprite.png) no-repeat -237px -132px;
	text-indent:-9999px;
	cursor:pointer;
}
/************************************ /search************************************/


/***************************************nav**************************************/

.nav {
	clear:both;
	height: 38px;
	background-color: #000;
}
.nav-tri{
	display: block;
	float: left;
	width: 21px;
	height: 38px;
	background: black url(images/sprite.png) no-repeat -222px -158px;
}
.nav li {
	margin:0 -5px 0 -21px;
	float: left;
	width: 184px;
	height: 38px;
	background: url(images/sprite.png) no-repeat right bottom;
}
.nav li:hover,
.nav .current,.nav .current a{
	color: #1493cf !important;
	background: url(images/sprite.png) no-repeat -38px -158px;
}
.nav a {
	display: block;
	line-height: 38px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.nav a:hover {
	color: #1493cf;
}
/************************************** /nav**************************************/


/**********************************************************middle**********************************************************/

#middle {
	/*height:277px;*/
	background: url(images/middle.jpg) 0 0 repeat-x;
	line-height: 0;/*ie9+ ff chrome*/
}
#middle .global-width{
	position: relative;
}
#middle .mask {
	position: absolute;
	top: 0;
	width: 36px;
	height: 277px;
	background: url(images/mask.jpg) repeat-x;
}
#middle .mask.left {
	left: -36px;
}
#middle .mask.right {
	right: -36px;
}

/**********************************************************main**********************************************************/

#main {
	position: relative;
	min-height: 357px;
}
#main .shadow {
	position: absolute;
	top: 0;
	width:20px;
	height:357px;
}
#main .shadow.left {
	left: -20px;
	background:url(images/sprite.png) no-repeat -289px -132px;
}
#main .shadow.right {
	right:-20px;
	background:url(images/sprite.png) no-repeat -311px -132px;
}
.main-mid {
	padding:0 40px;
}
/************************************breadcrumbs************************************/

.breadcrumbs {
	height:40px;
	line-height: 40px;
	font-family: "HelveticaNeue";
	font-weight: 400;
}
.breadcrumbs span {
	margin:0 9px;
}
.breadcrumbs li{
	float:left;
	list-style:none;
}
.breadcrumbs a,
.breadcrumbs li:first-child{
	color: #b9babd;
	text-decoration: none;
}
.breadcrumbs .current{	
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}

/*************************************** /breadcrumbs*************************************/


/****************************************sidebar**************************************/

.sidebar {
	float: left;
	width: 286px;
}
.block .title {
	margin-bottom: 13px;
	padding-left:9px;
	height: 38px;
	background: url(images/sprite.png) no-repeat right -38px;
	line-height: 38px;
	font-family: "HelveticaNeue";
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}
.block-vacLeft .title{
	margin-top:12px;
	padding:0 0 0 9px;
	border:none;
	background: url(images/sprite.png) no-repeat right top;
}
.block-vacLeft a{
	text-decoration:none;
}
.block .title span {
	font-family: "HelveticaNeue";
	font-size: 24px;
	font-weight: 700;
}
.block-menu .act{/*activitriten*/
	margin-bottom:56px;
}
.block-menu .submenu li{
	padding-left: 36px;
}
.block-menu .submenu li:first-child{
	padding-top: 5px;
}
.block-menu .submenu li:last-child{
	padding-bottom: 5px;
	border:none;
}
.block-menu .submenu li .current{
	color: #0392ce;
}
.block-menu .menu,
.block-menu .submenu li:first-child,
.block-news li,
.block-login li {
	position:relative;
	border-top: 3px dotted #000;
}
.block-menu li:last-child,
.block-news li:last-child,
.block-login li:last-child{
	border-bottom: 3px dotted #000;
}
.block-menu .submenu a{
	line-height:18px;
}
.block-login li {
	padding:10px 0;
	line-height: 16px;
}
.block-menu a,
.block-menu .menu,
.block-news .news {
	display: block;
	font-family: "Arial";
	color: #000;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	cursor:pointer;
}
.block-menu a:hover,
.block-news a:hover,
.block-news .news.current,
.vacancies-content a:hover {
	color: #1493cf;
}
.block-news .news {
	padding:7px 127px 7px 0;
	line-height: 16px;
	text-transform: none;
}
.block-news .news:hover .button-news,
.block-news .news .current,
.block-result .button-result:hover,
.block-vacancies .open:hover {
	background:url(images/sprite.png) no-repeat -38px -196px;
}
.block-adres dl{
	padding:7px 0;
	border-top:3px dotted #000;
	line-height: 15px;
}
.block-adres dl dt{
	color:#1493cf;
}
/*************************************** /sidebar**************************************/


/****************************************content***************************************/

.content {
	float: right;
	width: 573px;
}
.passage {
	padding-top: 25px;
	border-top: 3px dotted #000;
	display: block;
	line-height: 24px;
	font-family: "Arial";
}
.passage.news{
	border: none;
}
.passage p{
	margin-bottom:25px;
}
.passage .fancybox{
	float:right;
	margin-left: 22px;
	line-height: 0;/**/
}
.passage .spe{
	margin-top:-8px;
}
.passage span {
	margin-bottom: 32px;
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #0392ce;
}
.block-content h2{/*news*/
	padding: 25px 209px 0 0;
	border-top: 3px dotted #000;
	line-height:28px;
	font-family:HelveticaNeue;
	font-size:24px;
	text-transform: uppercase;
}
.login-form p,.contact-form p{
	margin-bottom:4px;
}
.login-form label,.contact-form label{
	padding-right:10px;
	float:left;
	width:113px;
	line-height:28px;
}
.login-form input[type="text"],
.login-form input[type="password"],
.contact-form input[type="text"],
.contact-form input[type="password"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form input[type="url"]{
	padding:0 2px;
	width:273px;
	height:26px;
	border:1px solid #e2e2e2;
	background:#eee;
}
.login-form .box{
	position:relative;
	margin:41px 0;
}
.login-form input[type="checkbox"]{
	margin:7px 9px 2px 0;
	float:left;
	width:13px;
	height:13px;
}
.login-form .boxinfo{
	float:none;
	width:auto;
}
.login-form .login-button{
	margin-top:-32px;
	float:right;
	padding:0 26px 0 10px;
	display:block;
	height: 28px;
	border: 0;
	background: url(images/sprite.png) no-repeat right -76px;
	font-family:HelveticaNeue;
	font-weight:700;
	color:#fff;
	cursor:pointer;
}
.contact-form,
.login-form{
	margin-bottom:9px;
	padding-top: 17px;
	border-top: 3px dotted #000;
}
.contact-form .contact-button{
	margin-top:-65px;
	float:right;
}
.contact-form button{
	padding:0 46px 0 10px;
	display:block;
	height: 28px;
	border: 0;
	background: url(images/sprite.png) no-repeat right -104px;
	font-family:HelveticaNeue;
	font-weight:700;
	color:#fff;
	cursor:pointer;
}
.contact-form button:last-child{
	margin-top:5px;
	padding:0 26px 0 10px;
	background: url(images/sprite.png) no-repeat right -76px;
}
.block-vacancies .item span {
	padding:5px 6px 5px 0;
	display: inline-block;
}
.block-vacancies .item span:first-child{
	width: 312px;
}
.block-vacancies .item .second{
	width: 96px;
}
.block-vacancies .item-header{
	color: #1493cf;
}
.block-vacancies .item .summary{
	position: relative;
}
.block-vacancies .item .summary span:first-child {
	font-size: 15px;
}
.block-vacancies .item-header {
	border-top: 3px dotted #000;
}
.block-vacancies .item {
	border-bottom: 3px dotted #000;
}
.block-vacancies .item .detail{
	position: relative;
	padding: 0 85px 28px 0;
	display: none;
}
.block-vacancies .item .detail .passage.bodytext{
	margin-top: 0;
	padding-top: 7px;
	border: none;
	line-height: 18px;
}
.block-vacancies .item .detail h4{
	margin-top: 13px;
	color: #1493cf;
}
.block-vacancies .item .detail li{
	margin-left: 11px;
	list-style: disc;
}
.block-vacancies .item .detail .button.close{
	padding:0 13px 0 27px !important;
	background:url(images/sprite.png) no-repeat -38px -196px;
}
.block-vacancies .item .summary .button.open{
	z-index: 1;
}
.color{
	color:#1493cf;
}
.block-result .result-title{
	border-top:3px dotted #000;
	border-bottom:3px dotted #000;
	color:#939598;
	line-height:30px;
	text-transform: uppercase;
}
.block-result .result-title span{
	color:#000;
}
.block-result .item{
	position:relative;
	padding:12px 90px 12px 5px;
	border-bottom:3px dotted #000;
}
.block-result .item-title{
	font-size:15px;
}
.block-result .item p{
	color:#939598;
}
.block-result .pagination{
	margin:27px 0 66px;
	float:right;
}
.block-result .pagination span{
	margin-left:7px;
	float:left;
}
.block-result .pagination a{
	float:left;
	display:inline-block;
	margin-left:5px;
	color:#000;
	text-decoration:none;
}
.block-result .pagination-button{
	background: url(images/sprite.png) no-repeat -999em -999em;
	width:19px;
	height:19px;
}
.block-result .pagination-button.first {
	background-position: 0 -189px;
}
.block-result .pagination .first:hover{
	background-position: 0 -208px;
}
.block-result .pagination .first.disabled{
	background-position: 0 -227px;
}
.block-result .pagination-button.previous {
	background-position:0 -132px ;
}
.block-result .pagination .previous:hover{
	background-position:0 -170px ;
}
.block-result .pagination .previous.disabled{
	background-position:0 -151px ;
}
.block-result .pagination-button.next {
	background-position:-19px -132px ;
}
.block-result .pagination .next:hover{
	background-position:-19px -170px ;
}
.block-result .pagination-button.last {
	background-position:-19px -189px ;
}
.block-result .pagination .last:hover{
	background-position:-19px -208px ;
}
.block-result .pagination .current,
.block-result .pagination .pagination-num:hover{
	color:#1493cf;
}
.block-result .pagination .disabled{
	cursor:default ;
}
/*************************************** /content***************************************/


/**********************************************************footer**********************************************************/

#footer {
	margin:16px 0 117px;
	background: #ebebeb;
}
#footer .global-width {
	padding:17px 40px 21px;
	width:894px;
}
.widget-box:first-child {
	margin-left:0;
}
.widget-box {
	margin-left:33px;
	float: left;
	width: 152px;
	font-family: "Arial";
}
.widget-box .title {
	display: block;
	line-height: 23px;
	font-size: 13px;
	text-transform: capitalize;
}
.widget-box a {
	display: block;
	color: #999b9c;
}
.widget-box a:hover {
	text-decoration:none;
}