/* header middle main footer */

/**********************************************************header**********************************************************/

#header {
	margin-bottom: 4px;
}

/*************************************logo*************************************/

.logo {
	margin: 31px 0 0 41px;
	float: left;
	width: 365px;
	height: 67px;
}
.logo img{/*IE7*/
	border:none;
}
/************************************ /logo************************************/


/************************************search************************************/

.search {
	margin:14px 0 6px;
	float: right;
	background:url(images/search-tri.png) no-repeat top right;
	padding-top:86px;
}
#search-text {
	padding-left: 52px;
	float: left;
	width: 147px;
	height: 27px;
	border: 0;
	background: url(images/search-text.png) 0 0 no-repeat;
}
::-webkit-input-placeholder {
	color: #fff;
}
:-moz-placeholder  {
	color: #fff;
	opacity: 1
}
::-moz-placeholder  {
	color: #fff;
	opacity: 1
}
:-ms-input-placeholder {
	color: #fff;
}
#search-button {
	margin-left: 4px;
	float: left;
	width: 26px;
	height: 26px;
	border: 0;
	background: url(images/search-button.png) 0 0 no-repeat;
	text-indent:-9999px;
	cursor:pointer;
}
/************************************ /search************************************/


/***************************************nav**************************************/

.nav {
	clear:both;
	height: 38px;
	background: black url(images/nav-tri.png) no-repeat top left;
}
.nav li {
	margin-right:-25px;
	float: left;
	width: 184px;
	height: 38px;
	background: url(images/nav-par.png) right 0 no-repeat;
}
.nav li:hover,.nav .current,.nav .current a{
	color: #1493cf !important;
	background: url(images/nav-change.png);
}
.nav a {
	display: block;
	line-height: 38px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.nav a:hover {
	color: #1493cf;
}
/************************************** /nav**************************************/


/**********************************************************middle**********************************************************/

#middle {
	/*height:277px;*/
	background: url(images/middle.jpg) 0 0 repeat-x;
}
#middle .global-width{
	position: relative;
}
#middle .mask {
	position: absolute;
	top: 0;
	width: 36px;
	height: 277px;
	background: url(images/mask.jpg) repeat-x;
}
#middle .mask.left {
	left: -36px;
}
#middle .mask.right {
	right: -36px;
}

/**********************************************************main**********************************************************/

#main {
	position: relative;
	min-height: 357px;
}
#main .shadow {
	position: absolute;
	top: 0;
	width:20px;
	height:357px;
}
#main .shadow.left {
	left: -20px;
	background:url(images/shadow-left.png) no-repeat;
}
#main .shadow.right {
	right:-20px;
	background:url(images/shadow-right.png) no-repeat;
}
.main-mid {
	padding:0 40px;
}
/************************************breadcrumbs************************************/

.breadcrumbs {
	height:40px;
	line-height: 40px;
	font-family: "HelveticaNeue";
	font-weight: 400;
	color: #b9babd;
}
.breadcrumbs span {
	margin:0 9px;
}
.breadcrumbs li{
	float:left;
	list-style:none;
}
.breadcrumbs a {
	color: #b9babd;
	text-decoration: none;
	text-transform: capitalize;
}

.breadcrumbs .current{
	
	color:#000;
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}

/*************************************** /breadcrumbs*************************************/


/****************************************sidebar**************************************/

.sidebar {
	float: left;
	width: 286px;
}
.block .title {
	padding:0 0 13px 9px;
	height: 38px;
	border-bottom: 3px dotted #000;
	background: url(images/title.png) no-repeat top right;
	line-height: 38px;
	font-family: "HelveticaNeue";
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}
.block .title span {
	font-family: "HelveticaNeue";
	font-size: 24px;
	font-weight: 700;
}
.block-menu ul li,.block-news ul li,.block-loginAttention ul li {
	position:relative;
	border-bottom: 3px dotted #000;
}
.block-loginAttention ul li {
	padding:10px 0;
	line-height: 16px;
}
.block-menu a,
.block-news a {
	display: block;
	font-family: "Arial";
	color: #000;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
}
.block-menu a:hover,
.block-news a:hover,
.block-news .news.current {
	color: #1493cf;
}
.block-news a {
	padding:7px 127px 7px 0;
	line-height: 16px;
	text-transform: none;
}
.block-news a span {
	position:absolute;
	top:30px;
	left:210px;
	padding:0 18px 0 22px;
	background:url(images/news-gray.png) no-repeat;
	line-height: 20px;
	font-size:11px;
	color:#fff !important;
	text-transform: none;
}
.block-news a:hover span,
.block-news .news .current {
	background:url(images/news-blue.png) no-repeat;
}

.block-adres dl{
	padding:7px 0;
	border-bottom:3px dotted #000;
	line-height: 15px;
}
.block-adres dl:last-child{
	border-bottom:none;
}
.block-adres dl dt{
	color:#1493cf;
}
/*************************************** /sidebar**************************************/


/****************************************content***************************************/

.content {
	float: right;
	width: 573px;
}
.passage {
	margin-top: 25px;
	display: block;
	line-height: 24px;
	font-family: "Arial";
	color: #000;
}
.passage p{
	margin-bottom:25px;
}
.passage span {
	margin-bottom: 32px;
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #0392ce;
}
.block-content h2{
	margin-top:25px;
	width:375px;
	line-height:28px;
	font-family:HelveticaNeue;
	font-weight:400;
	font-size:24px;
	text-transform: uppercase;
}
.login-form{
	margin:17px 0 103px;
}
.login-form p,.contact-form p{
	margin-bottom:4px;
}
.login-form label,.contact-form label{
	float:left;
	width:123px;
	line-height:28px;
}
.login-form input,.contact-form input{
	padding:0 2px;
	width:273px;
	height:26px;
	border:1px solid #e2e2e2;
	background:#eee;
}
.login-form .box{
	position:relative;
	margin:41px 0;
}
.login-form #loginCheckbox{
	margin:3px 9px 2px 0;
	width:13px;
	height:13px;
}
.login-form .boxinfo{
	float:none;
	width:auto;
}
.login-form .login-button{
	margin-top:-32px;
	margin-left:446px;
	padding:0 26px 0 10px;
	display:block;
	height: 28px;
	border: 0;
	background: url(images/button-blue.png) no-repeat right top;
	font-family:HelveticaNeue;
	font-weight:700;
	color:#fff;
	cursor:pointer;
}
.contact-form{
	margin:17px 0 9px;
}
.contact-form button{
	margin-top:-64px;
	margin-left:446px;
	padding:0 46px 0 10px;
	display:block;
	height: 28px;
	border: 0;
	background: url(images/button-gray.png) no-repeat right top;
	font-family:HelveticaNeue;
	font-weight:700;
	color:#fff;
	cursor:pointer;
}
.contact-form #contact-buttonBottom{
	margin-top:5px;
	padding:0 26px 0 10px;
	background: url(images/button-blue.png) no-repeat right top;
}
/*************************************** /content***************************************/


/**********************************************************footer**********************************************************/

#footer {
	margin:16px 0 117px;
	background: #ebebeb;
}
#footer .global-width {
	padding:17px 40px 21px;
	width:894px;
}
.widget-box:first-child {
	margin-left:0;
}
.widget-box {
	margin-left:33px;
	float: left;
	width: 152px;
	font-family: "Arial";
}
.widget-box .title {
	display: block;
	line-height: 23px;
	font-size: 13px;
	font-weight:400;
	color: #000;
	text-transform: capitalize;
}
.widget-box a {
	display: block;
	color: #999b9c;
}
.widget-box a:hover {
	text-decoration:none;
}